<center>
<h3>detail d'un artiste</h3>
<a href="{{path('app_artisListe')}}">return liste artiste</a>
<table border=1>
<tr>
<th>Id</th>
<th>name</th>
<th>biography</th>
</tr>
<td>{{artist.id}}</td>
<td>{{artist.name}}</td>
<td>{{artist.biography}}</td>
</tr>
</table>
</center>